WALLET_ADDRESS=
PRIVATE_KEY=
RPC_URL=
MAINNET_RPC_URL=
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
WS_RPC_URL=
BINANCE_TESTNET_API_KEY=
BINANCE_TESTNET_SECRET=
BYBIT_TESTNET_API_KEY=
BYBIT_TESTNET_SECRET=